<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SuiteOpenCart">
	<parameter name="url" value="http://10.26.34.177/opencart/upload/" />
<!-- 	<parameter name="url" value="http://taqc-opencart.epizy.com" /> -->
	<parameter name="browsername" value="chrome" />

	<!-- 3 ERROR 5 WARNING 7 INFO 9 TRACE -->
	<test name="TestLogin" verbose="9" >
		<parameter name="number" value="23145" />
		<parameter name="implicitWait" value="30" />
		<classes>
<!-- 			<class name="com.softserve.edu.AppTestReport" /> -->
<!-- 			<class name="com.softserve.edu.rest.test.LoginLogoutTest" /> -->
			<!-- <class name="com.softserve.testng.FirstNg" /> -->
			<class name="com.softserve.edu.opencart.tests.LoginTest" />
			<!-- <class name="com.softserve.edu.opencart.tests.LoginTest"> -->
			<!-- <methods> -->
			<!-- <include name="checkSuccessful" /> -->
			<!-- </methods> -->
			<!-- </class> -->
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
