<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Rest-Test">
<!-- 	<parameter name="url" value="http://10.26.34.169/opencart/upload/" /> -->


	<test name="Tests">
		<classes>
			<class name="com.softserve.edu.rest.test.item.AddItemTest" />
			<class name="com.softserve.edu.rest.test.item.CreateUpdateItemsTest" />
			<class name="com.softserve.edu.rest.test.TokenTest" />
			<class name="com.softserve.edu.rest.test.CheckUserTest" />
			<!--<class name="com.softserve.edu.rest.test.admins.CreateLoginAdminTest" />-->
			<!-- <class name="com.softserve.testng.FirstNg" /> -->
<!-- 			<class name="com.softserve.edu.opencart.tests.LoginTest"> -->
<!-- 				<methods> -->
<!-- 					<include name="checkSuccessful" /> -->
<!-- 				</methods> -->
<!-- 			</class> -->
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
